.modal-background
.modal-card
  %header.modal-card-head
    %p.modal-card-title Modal title
    %button.close-modal.delete{"aria-label" => "close"}
  %section.modal-card-body
    %p 123
  %footer.modal-card-foot
    %button.button.is-success Save changes
    %button.button Cancel
