.full_page
  @extend .full_width
  @extend .full_height

.full_width
  width: stretch
  width: -moz-available
  width: -webkit-fill-available

.full_height
  height: stretch
  height: -moz-available
  height: -webkit-fill-available

.is-absolute
  position: absolute
