.box
  %el-form{":action": "changeAction", method: "post"}
    %el-input.is-hidden{name: "authenticity_token", value: form_authenticity_token}
    - ["username", "password", "user_type"].each do |field|
      %el-form-item{label: t(field)}
        - case field
        - when 'user_type'
          %el-select{"v-model": field}
            - User::TYPES.each do |type|
              %el-option{label: t("user_types.#{type}"), value: type}
        - else
          .el-input
            %input.el-input__inner{"v-model": field, ":name": "reloadField('#{field}')", type: "#{field if field.eql?('password')}"}
    %button.el-button.el-button--primary.el-button--large{type: 'submit'}
      %span=t('login', scope: :form)
