.box
  %el-form{":action": "changeAction", method: "post"}
    %input.is-hidden{autocomplete: "off", name: "authenticity_token", type: "text"}
    - ["username", "password", "user_type", "submit"].each do |field|
      - case field
      - when 'submit'
        %button.el-button.el-button--primary.el-button--large{type: field}
          %span login
      - when 'user_type'
        %el-form-item{label: field}
          %el-select{"v-model": field}
            - User::TYPES.each do |type|
              %el-option{label: type, value: type}
      - else
        %el-form-item{label: field}
          .el-input
            %input.el-input__inner{"v-model": field, ":name": "reloadField('#{field}')", type: "#{field if field.eql?('password')}"}
