.box
  %el-form{":action": "changeAction", method: "post"}
    %input.is-hidden{autocomplete: "off", name: "authenticity_token", type: "text"}
    - ["username", "password", "user_type"].each do |field|
      %el-form-item{label: t(field)}
        - case field
        - when 'user_type'
          %el-select{"v-model": field}
            - User::TYPES.each do |type|
              %el-option{label: t("user_types.#{type}"), value: type}
        - else
          .el-input
            %input.el-input__inner{"v-model": field, ":name": "reloadField('#{field}')", type: "#{field if field.eql?('password')}"}
    %el-form-item
      %el-button{type: 'primary'}=t('login', scope: :form)
