.box
  %h2 Log in
  %el-form{"label-width": "120px", ref: "form", action: session_path(resource_name), method: :post}
    %el-input.is-hidden{name: "authenticity_token", value: "#{form_authenticity_token}"}
    %el-form-item{label: "Username"}
      %el-input{"v-model": "form.username"}
    %el-form-item{label: "Password"}
      %el-input{type: "password", "v-model": "form.password"}
    - if devise_mapping.rememberable?
      %el-form-item{label: "Remember Me"}
        %el-switch{"v-model": "form.remember_me"}
    %el-form-item{size: "large"}
      %el-button{"native-type": "submit", type: "primary"}= "Log in"
